#brand-image{
       width: 120px;
}
.navbar-nav a{
       font-family: 'poppins' sans-serif;
       font-size: 18px;
       text-transform: uppercase;
       
      
}
.navbar-light .navbar-nav .nav-link{
       color: black;
}
.navbar-nav{
       text-align: center;
       
     
       
}

.nav-link.active, .nav-link:focus {
       color: black!important;
}

.head{
       position: fixed;
       box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
       width: 100%;
       z-index: 50;
       background: #fff;
       
    
}

html,body{
       height: 100;
       width: 100%
       font-family: 'poppins', sans-serif;
       
      
              
}

.s1
{
     padding-top: 50px;  
}


.banner1,.banner2,.banner3,.banner4,.banner5{
       height: 100vh;
       width: 100%;
       position: absolute;
       left: 0;
       
   
       
}

img{
       width: 100%;
       animation: zoom-out 3s linear infinite;
       
       
}
@keyframes zoom-out{
       100%;
       {
              width: 100%;
       }
}
.banner1{
       animation: photo1 35s linear infinite;
}

.banner2{
       animation: photo2 35s linear infinite;
}
 .banner3{
       animation: photo3 35s linear infinite;
}
.banner4{
       animation: photo4 35s linear infinite;
}
.banner5{
       animation: photo5 35s linear infinite;
}
@keyframes photo1{
       0%{
              visibility: visible;
                            
       }
       25%{
              visibility: hidden;
              
       }
       
       50%{
              visibility: hidden;
              
       }
       75%{
              visibility: hidden;
              
       }
       100%{
              visibility: visible;
              
       }
}

@keyframes photo2{
       0%{
              visibility: hidden;
                            
       }
       25%{
              visibility: visible;
              
       }
       
       50%{
              visibility: hidden;
              
       }
       75%{
              visibility: hidden;
              
       }
       100%{
              visibility: hidden;
              
       }
}
@keyframes photo3{
       0%{
              visibility: hidden;
                            
       }
       25%{
              visibility: hidden;
              
       }
       
       50%{
              visibility: visible;
              
       }
       75%{
              visibility: hidden;
              
       }
       100%{
              visibility: hidden;
              
       }
}
@keyframes photo4{
       0%{
              visibility: hidden;
                            
       }
       25%{
              visibility: hidden;
              
       }
       
       50%{
              visibility: hidden;
              
       }
       75%{
              visibility: visible;
              
       }
       100%{
              visibility: hidden;
              
       }
}
@keyframes photo5{
       0%{
              visibility: hidden;
                            
       }
       25%{
              visibility: hidden;
              
       }
       
       50%{
              visibility: hidden;
              
       }
       75%{
              visibility: hidden;
              
       }
       100%{
              visibility: visible;
              
       }
}



       
footer{
       background-color: #3f3f3f;
       color: #d5d5d5;
       padding-top: 1rem;
       margin-top: 30rem;
       
}
       
footer a{
       color: #d5d5d5;
       
}
footer a:hover{
       color: white;
}
hr.light-100{
       border-top: 1px solid #d5d5d5;
       width: 100%;
       margin-top: 3rem;
       margin-bottom: 1rem;
      
       
}
.col-md-6 {
       margin-top: 1rem;
       
       
}

.col-md-6 h1{
       background-color: #E4E8D5;
       padding-bottom: 340px;
       text-align: center;
         
       
}
.col-md-12{
       text-align: center;
       font-size: 20px;
}
.text-right{
       margin-bottom: 2rem;
       margin-top: 1rem;
       padding: 4rem ;
}



